.items {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;
  overflow: hidden;
  background: white;
}

.close,
.menu-title {
  z-index: 1000;
  position: absolute;
  color: black;
  top: 3rem;
  right: 5.8rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

svg {
  height: 30px;
}

.menu-title {
  top: 3rem;
  left: 5.8rem;
}

.menu {
  height: 100%;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
  /* height: 100vh; */
}

ul {
  width: 100%;
  display: block;
}

li {
  position: relative;
  width: 100%;
  height: 115px;
}

a {
  height: 100%;
  text-decoration: none;
  color: black;
}

.wrapper-menu {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.title-menu {
  margin: 0 3em;
}

.h2-menu {
  overflow: hidden;
  margin: 0;
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--ff-accent);
  color: var(--clr-primary-200);
}
.h2-menu:hover {
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--clr-primary-200);
}

.thumbnail {
  margin-bottom: 1em;
  overflow: hidden;
  position: absolute;
  left: 45em;
  width: 7.6rem;
  height: 5rem;
}
.img-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
}
.floating-image {
  pointer-events: none;
  width: 24rem;
  position: absolute;
  z-index: 99;
  overflow: hidden;
}

.line {
  height: 2px;
  width: 100%;
  background: black;
  margin-bottom: 0.8rem;
  position: relative;
  display: flex;
  align-items: center;
}

.line.flex-0 {
  flex: 0;
}
.flex-0::after {
  display: none;
}

.line.flex-1 {
  flex: 1;
}

.line.flex-2 {
  flex: 2;
}

.line.flex-3 {
  flex: 3;
}

/* circle line decoration  */
/* .line::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background: black;
}

.line.left::after {
    right: 0;
} */

.mask {
  background: white;
  width: 100%;
  height: 6px;
  z-index: 9;
  position: absolute;
}
.mask .left {
  left: 0;
}
.mask .right {
  right: 0;
}

.left-panel-background,
.right-panel-background {
  height: 100vh;
  width: 50vw;
  position: absolute;
  z-index: 11;
  background: var(--clr-primary-200);
}
.right-panel-background {
  right: 0;
  background: var(--clr-primary-200);
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

/* grain animation */

.page-header:after {
  animation: grain 8s steps(10) infinite;
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png); */
  /* background-image: url("../images/grain.jpg"); */
  background-image: url(https://t4.ftcdn.net/jpg/01/02/71/91/360_F_102719164_WVp7LYw8iFsW4DlT9rhy3vEJ6D94inM5.jpg);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.4;
  position: fixed;
  z-index: -4;
  top: -110%;
  width: 300%;
}
