/* variables */
:root {
  /* color scheme variables */
  --clr-primary-200: #fd3a24;
  --clr-primary-400: #fd0100;
  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #fc9586;
  --clr-neutral-400: #97dc8b;
  --clr-neutral-900: #000000;
  /*fonts variables */
  --ff-primary: "Object Sans", sans-serif;
  --ff-accent: "Monument Extended Black", serif;
  --ff-accent-light: "Monument Extended", serif;
}

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary), Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  line-height: 1.2;
}
article,
section {
  width: 100vw;
  display: block;
  padding: 1.5em 0;
  position: relative;
}
@media (min-width: 50rem) {
  article,
  section {
    padding: 3em 0;
  }
}
/* container with header&paragraph and margins on sides */
.container {
  margin: 0 auto;
  /* margin sides: for mobile takes 90% of the screen, for desktop is wider 80.5rem */
  width: min(85%, 80.5rem);
}
h1 {
  font-family: var(--ff-accent);
  font-size: 1.3rem;
  color: var(--clr-primary-400);
  margin: 1.2em 0;
}
p {
  margin-bottom: 2rem;
  max-width: 35rem;
}

@media (min-width: 70rem) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.2rem;
  }
}
img {
  display: block;
  width: 100%;
}
/* global styles: adding color to paragraph, bg or heading */
.clr-salmon {
  color: var(--clr-neutral-300);
}
.clr-orange {
  color: var(--clr-primary-200);
}
.clr-black {
  color: var(--clr-neutral-900);
}
.bg-dark {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

/* global styles: styling text */
.ff-accent {
  font-family: var(--ff-accent);
}
.ff-accent-light {
  font-family: var(--ff-accent-light);
  letter-spacing: 0rem;
}
/* global styles: adding margin to the bottom */
.margin-bottom {
  margin-bottom: 0.9em;
}

/*  global styles: flexbox with two equal sized columns */
.split {
  display: flex;
  flex-direction: column;
}
@media (min-width: 70rem) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  /* gap between flex columns, *+* selects elements that have divs before them, works for safari */
  .split > * + * {
    margin-left: 4em;
  }
}

/*  global styles: display element as grid */
.grid {
  display: grid;
}

/* SECTION: header */
.logo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.feel-you {
  margin-top: 4rem;
}

/* .question-to-you::before {
  content: " ";
  background: url(../images/shape.svg);
  background-repeat: no-repeat;
  height: 469.31px;
  width: 100%;
  position: absolute;
  align-content: center;
  right: 0;
  z-index: -1;
} */

.question-to-you {
  font-size: 1.2rem;
}
@media (min-width: 70rem) {
  .question-to-you {
    font-size: 2.2rem;
  }
}
/* SECTION: what are microagression? */

/* SECTION: examples of microagressions? */

.green-container {
  width: 100vw;
  background-color: var(--clr-neutral-400);
  height: 30vh;
  margin-top: 50px;
  display: inline-block;
}

/* SECTION: what makes microagression different? */

.difference .grid span {
  color: var(--clr-primary-200);
  font-family: var(--ff-accent);
}

@media (min-width: 50rem) {
  /* TODO: adjust width based on the content (not equal width) */
  .difference .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1em;
    margin-bottom: 2rem;
  }

  .difference .grid span {
    font-size: 1.8rem;
  }
  .word1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .word2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .word3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .word4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.greenRightDiff {
  position: absolute;
  width: 40%;
  top: 30%;
  right: 0%;
  z-index: -1;
}
.greenLeftDiff {
  position: absolute;
  width: 40%;
  top: 70%;
  left: 0%;
  z-index: -1;
}

@media (min-width: 50rem) {
  .diff-par-position {
    margin-top: 10rem;
    margin-left: 30rem;
  }
}

/* SECTION: common characteristics? */

/* SECTION: wait, has it ever happend to you? */

.redBgShape {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.input-group {
  display: block;
  width: 90%;
  height: 4rem;
  border: 0;
  background-color: #ffffff;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  border-top-left-radius: 41px;
  border-top-right-radius: 0;
  box-shadow: 0 17px 40px 0 rgba(39, 88, 136, 0.07);
  margin-bottom: 4rem;
  position: relative;
  color: #a7b4c1;
}

.input-group input {
  position: absolute;
  border: 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  height: 4rem;
  width: 100%;
  padding: 0 4rem;
  z-index: 3;
  display: block;
  color: var(--clr-neutral-900);
  font-size: 1.2rem;
}

/* SECTION: what harm do microagressions cause? */

/* SECTION: how can microagressions be disarmed? */

/* SECTION: how can people react who are affected? */
