/* variables */
:root {
  /* color scheme variables */
  --clr-primary-200: #fd3a24;
  --clr-primary-400: #fd0100;
  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #fc9586;
  --clr-neutral-400: #97dc8b;
  --clr-neutral-900: #000000;
  /*fonts variables */
  --ff-primary: "Object Sans", sans-serif;
  --ff-accent: "Monument Extended Black", serif;
  --ff-accent-light: "Monument Extended", serif;
}

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary), Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  line-height: 1.2;
}
article,
section {
  width: 100vw;
  display: block;
  padding: 1.5em 0;
  position: relative;
}


.hamburger-menu {
  cursor: pointer;
  display: block;
}
.hamburger-menu span {
  height: 3px;
  width: 30px;
  margin: 6px;
  display: block;
  background: black;
  margin-left: 100%;
  /* background: $text; */
}


@media (min-width: 50rem) {
  article,
  section {
    padding: 3em 0;
  }
}
/* container with header&paragraph and margins on sides */
.container {
  margin: 0 auto;
  /* margin sides: for mobile takes 90% of the screen, for desktop is wider 80.5rem */
  width: min(85%, 80.5rem);
}
h1 {
  font-family: var(--ff-accent);
  font-size: 1.3rem;
  color: var(--clr-primary-400);
  margin: 1.2em 0;
}
p {
  margin-bottom: 2rem;
  max-width: 35rem;
}

@media (min-width: 70rem) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.2rem;
  }
}
img {
  display: block;
  width: 100%;
}
/* global styles: adding color to paragraph, bg or heading */
.clr-salmon {
  color: var(--clr-neutral-300);
}
.clr-orange {
  color: var(--clr-primary-200);
}
.clr-black {
  color: var(--clr-neutral-900);
}
.bg-dark {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}
/*  global styles: not link decoration*/
.no-decor-link {
  text-decoration: none;
}
/* global styles: styling text */
.ff-accent {
  font-family: var(--ff-accent);
}
.ff-accent-light {
  font-family: var(--ff-accent-light);
  letter-spacing: 0rem;
}
/* global styles: adding margin to the bottom */
.margin-bottom {
  margin-bottom: 0.9em;
}

/*  global styles: flexbox with two equal sized columns */
.split {
  display: flex;
  flex-direction: column;
}
@media (min-width: 70rem) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  /* gap between flex columns, *+* selects elements that have divs before them, works for safari */
  .split > * + * {
    margin-left: 4em;
  }
}

/*  global styles: display element as grid */
.grid {
  display: grid;
}

/* SECTION: header */
.logo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
