/* variables */
:root {
  /* color scheme variables */

  --clr-primary-100: #ffffff;
  --clr-primary-200: #ff0000;
  --clr-primary-300: #f9adb9;
  --clr-primary-400: #000000;

  --clr-secondary-100: #c8c7fc;
  --clr-secondary-200: #ffd2fb;

  --clr-neutral-100: #fbb53b;
  --clr-neutral-200: #45caaf;

  /*fonts variables */
  --ff-primary: "Object Sans", sans-serif;
  --ff-accent: "Monument Extended Black", serif;
  --ff-accent-light: "Monument Extended", serif;
}

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: var(--ff-primary), Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  line-height: 1.2;
  overflow-x: hidden;
}
article,
section {
  position: relative;
}

@media (min-width: 50rem) {
  .glossary {
    padding: 3em 0;
  }
}
/* container with header&paragraph and margins on sides */
.container {
  margin: 0 auto;
  /* margin sides: for mobile takes 90% of the screen, for desktop is wider 80.5rem */
  width: min(85%, 80.5rem);
  padding-top: 1.5rem;
}
h1 {
  font-family: var(--ff-accent);
  font-size: 1.3rem;
  margin: 1.2em 0;
}
p {
  margin-bottom: 2rem;
  max-width: 35rem;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.2rem;
  }
}

img {
  display: block;
  width: 100%;
  outline: none;
}
/* global styles: adding color to paragraph, bg or heading */
.clr-purple {
  color: var(--clr-secondary-100);
}
.clr-pink {
  color: var(--clr-secondary-200);
}
.clr-red {
  color: var(--clr-primary-200);
}
.clr-white {
  color: var(--clr-primary-100);
}
.clr-salmon {
  color: var(--clr-primary-300);
}
.clr-yellow {
  color: var(--clr-neutral-100);
}
.clr-green {
  color: var(--clr-neutral-200);
}
.clr-black {
  color: var(--clr-primary-400);
}
.bg-dark {
  background-color: var(--clr-primary-400);
}
.bg-red {
  background-color: var(--clr-primary-200);
}
.bg-salmon {
  background-color: var(--clr-primary-300);
}
.bg-purple {
  background-color: var(--clr-secondary-100);
}
.bg-pink {
  background-color: var(--clr-secondary-200);
}
/*  global styles: not link decoration*/
.no-decor-link {
  text-decoration: none;
}
/* global styles: styling text */
.ff-accent {
  font-family: var(--ff-accent);
}
.ff-accent-light {
  font-family: var(--ff-accent-light);
  letter-spacing: 0rem;
}
/* global styles: adding margin to the bottom */
.margin-bottom {
  margin-bottom: 0.9em;
}

/*  global styles: flexbox with two equal sized columns */
.split {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  /* gap between flex columns, *+* selects elements that have divs before them, works for safari */
  .split > * + * {
    margin-left: 4em;
  }
}

/*  global styles: display element as grid */
.grid {
  display: grid;
}

/* SECTION: header */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
}

.hamburger-menu {
  margin: 15px 20px 0 0;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  align-self: flex-end;
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .hamburger-menu {
    right: 30px;
    margin: 35px 60px 0 0;
  }
}

.hamburger-menu span {
  height: 3px;
  width: 30px;
  margin: 4px;
  background: black;
  /* background: $text; */
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* SVG shape dection divider */
.divider {
  position: relative;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.divider-svg {
  width: calc(100% + 1.3px);
  height: 100px;
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .divider-svg {
    height: 200px;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .divider-svg {
    height: 300px;
  }
}
/* SVG shape with text overlay */
.shapeTextWrapper {
  position: relative;
}
.shapeImage {
  position: relative;
  top: 0;
  left: 0;
}
.shapeText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7rem;
}

@media only screen and (min-width: 961px) {
  .shapeText {
    font-size: 1.5rem;
  }
}
