/* SECTION: how can microaggressions be disarmed? */
.disarmed .shape-fill {
  fill: var(--clr-primary-300);
}

@media only screen and (min-width: 961px) {
  .disarmed .shapeTextWrapper {
    max-width: 1000px;
  }
}
.disarmed .shapeText {
  width: 80%;
}
.imgDisarmed {
  width: 340px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 961px) {
  .imgDisarmed {
    width: 680px;
  }
}

.stackedWrapper1 {
  position: relative;
  display: block;
  height: 670px;
}

.stackedWrapper1 .shapeTextWrapper {
  position: absolute;
  top: 0;
  z-index: 1;
}

.stackedWrapper1 .container {
  position: absolute;
  top: 150px;
  left: 3rem;
}
@media only screen and (min-width: 768px) {
  .stackedWrapper1 {
    height: 900px;
  }
  .stackedWrapper1 .container {
    top: 400px;
    right: -200px;
  }
}
@media only screen and (min-width: 961px) {
  .stackedWrapper1 {
    height: 1300px;
  }
  .stackedWrapper1 .container {
    top: 400px;
    right: -500px;
  }
}

@media only screen and (min-width: 961px) {
  .stackedWrapper2 {
    height: 1200px;
  }

  .thirdBlob {
    margin: 0 auto;
    margin-top: -200px;
  }
}
