/* SECTION: examples of microaggressions? */
.examples .shape-fill {
  fill: var(--clr-primary-100);
}

.examples {
  position: relative;
}

.shard {
  width: 200px;
  position: absolute;
  cursor: pointer;
}
.ex__shard1 {
  top: 40%;
  left: 40%;
}
.ex__shard2 {
  top: 35%;
  left: 45%;
}
.ex__shard3 {
  top: 40%;
  left: 30%;
}
.ex__shard4 {
  top: 45%;
  left: 25%;
}
.ex__shard5 {
  top: 50%;
  left: 30%;
}
.ex__shard6 {
  top: 35%;
  left: 35%;
}
.ex__shard7 {
  top: 40%;
  left: 40%;
}
.ex__shard8 {
  top: 45%;
  left: 5%;
}
.ex__shard9 {
  top: 35%;
  left: 5%;
}
.ex__shard10 {
  top: 55%;
  left: 40%;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, -1px, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 2px, 0);
  }
  
  30%, 50%, 70% {
    -webkit-transform: translate3d(-2px, -2px, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(2px, 2px, 0);
  }
}

@media (min-width: 40rem) {
  .shard {
    width: 400px;
  }
  .examples .container {
    height: 600px;
  }
  .shard:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      perspective: 1000px;
    }
}
