/* Section: Where you offended by that question - we feel you */

.feel-you {
  margin-left: 4rem;
}
.fill-shape {
  fill: var(--clr-neutral-100);
}
.shapeImage1 {
  width: 20em;
  position: absolute;
  top: 55%;
  left: 10%;
}
.no {
  left: 40%;
  top: 73%;
}
@media only screen and (min-width: 961px) {
  .vote .split {
    flex-direction: row-reverse;
  }

  .feel-you {
    margin-top: 20rem;
    margin-left: 10rem;
  }
  .question-to-you > * {
    width: 40em;
  }
}
